@model CoreRepoExample_22_02_22.Models.CourseModel

@{
    ViewData["Title"] = ViewBag.Actionmode;
}


<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(ViewBag.Actionmode)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Course.Ad" class="control-label"></label>
                <input asp-for="Course.Ad" class="form-control" />
                <span asp-validation-for="Course.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Aciklama" class="control-label"></label>
                <input asp-for="Course.Aciklama" class="form-control" />
                <span asp-validation-for="Course.Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Fiyat" class="control-label"></label>
                <input asp-for="Course.Fiyat" class="form-control" />
                <span asp-validation-for="Course.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Course.Aktif" /> @Html.DisplayNameFor(model => model.Course.Aktif)
                </label>
            </div>
                <select class="form-control" id="exampleFormControlSelect1" asp-for="Course.EgitmenID" asp-items="@(new SelectList(Model.eList,"EgitmenID","isim"))">
                    <option value="0">--- Tür Seçiniz ---</option>
                </select>
              



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

