@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Kurslarımız yakında başlayacaktır...</h1>
    <a asp-action="Ekle" class="btn btn-primary">İstek Ekle</a>
</div>
