@model CoreRepoExample_22_02_22.Models.Entity.Request
@{
    ViewData["Title"] = "Teşekkürler";
}

<div class="text-center">
    <h3>Teşekkürler @Model.Ad.ToUpper()</h3><a asp-action="List" class="btn btn-primary">Yakında Eklenecek Kurslar</a>
</div>
